@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');

body {
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

h1 {
  font-family: sans-serif;
  padding-left: 20px;
  color: #222;
  font-weight: 300;
}

a {
  display: block;
  bottom: 3rem;
  right: 3rem;
  position: absolute;
  background-color: #fb5f70;
  border-radius: 5px;
  padding: 20px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.1rem;
  margin: 1rem 0;
}

ul li label {
  cursor: pointer;
}

button {
  background-color: #9b59b6;
  color: white;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
  padding: 1.1rem;
  font-family: inherit;
  font-size: 1.2rem;
  width: 100%;
  cursor: pointer;
}

button:hover {
  background-color: #9347b1;
}

.quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.quiz-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(7, 6, 6, 0.1);
  width: 600px;
  max-width: 100%;
}

.quiz-header {
  padding: 2rem;
}

.ui-container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 40px;
}

.ui {
  position: relative;
  display: flex;
  height: 32px;
}

.ui-text {
  visibility: hidden;
  font-size: 34px;
  font-weight: bold;
  white-space: pre;
}

.text {
  color: rgb(255, 145, 0);
  position: absolute;
  top: -2px;
  left: 6px;
  font-size: 34px;
  font-weight: bold;
  white-space: pre;
}

.text-1 {
  color: rgb(225, 0, 255);
  position: absolute;
  top: 0px;
  left: 4px;
  font-size: 34px;
  font-weight: bold;
  white-space: pre;
}

.text-2 {
  color: rgb(82, 0, 121);
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 34px;
  font-weight: bold;
  white-space: pre;
}

.coin {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #fb5f70;
  color: white;
  font-size: 1.5rem;
}

@media screen and (max-width: 1000px) {
  .quiz {
    margin: 50px;
  }

  .quiz-container {
    width: 100%;
    font-size: 2.5rem;
    border-radius: 30px;
  }

  ul li {
    font-size: 3.5rem;
    margin: 1rem 0;
  }

  button {
    font-size: 3.5rem;
  }

  .ui {
    width: 100%;
  }

  .text,
  .text-1,
  .text-2 {
    font-size: 4rem;
  }

  .coin {
    font-size: 3.5rem;
    border-radius: 13px;
  }

  .coin-img {
    width: 70px;
    height: 70px;
  }

  input {
    width: 2rem;
    height: 2rem;
  }
}