@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&family=VT323&display=swap');

body {
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  margin: 0 auto;
  font-family: 'Silkscreen', cursive;
  min-height: 100vh;
}
p {
  opacity: 0.7;
  font-size: 1.3rem;
  font-weight: 200;
}

img {
  width: 3rem;
  height: 3rem;
}

h1 {
  padding-left: 20px;
  color: #222;
}

label {
  font-size: 1.2rem;
  font-weight: 400;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.1rem;
  margin: 1rem 0;
}

ul li label {
  cursor: pointer;
}

span {
  font-size: 2.2rem;
  padding: 0px 0px 2px 0px;
}

.quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.quiz-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(7, 6, 6, 0.1);
  width: 600px;
  max-width: 100%;
}

.quiz-header {
  padding: 2rem;
}

.quiz-button {
  background-color: #9b59b6;
  color: white;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
  padding: 1.1rem;
  font-family: inherit;
  font-size: 1.3rem;
  width: 100%;
  cursor: pointer;
}

.quiz-button:hover {
  background-color: #9347b1;
}

.ui-container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 40px;
}

.ui {
  position: relative;
  display: flex;
  height: 32px;
}

.ui-text {
  visibility: hidden;
  font-size: 34px;
  font-weight: bold;
  white-space: pre;
}

.text {
  color: rgb(255, 145, 0);
  position: absolute;
  top: -2px;
  left: 6px;
  font-size: 34px;
  font-weight: bold;
  white-space: pre;
}

.text-1 {
  color: rgb(225, 0, 255);
  position: absolute;
  top: 0px;
  left: 4px;
  font-size: 34px;
  font-weight: bold;
  white-space: pre;
}

.text-2 {
  color: rgb(82, 0, 121);
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 34px;
  font-weight: bold;
  white-space: pre;
}

.ui-footer {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-button {
  display: flex;
  bottom: 2.5rem;
  left: 2.5rem;
  position: absolute;
  background-color: #fb5f70;
  border-radius: 5px;
  padding: 20px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.coin {
  height: 3.2rem;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border-radius: 6px;
  background-color: #fb5f70;
  color: white;
  font-size: 1.5rem;
}

.player-img {
  width: 56px;
  height: 52px;
  display: block;
  position: absolute;
  margin: -12px 0px 0px -14px;   
}

.coin-img {
  width: 30px;
  height: 30px;
}

.icon {
  position: absolute;
  bottom: 2.5rem;
  right: 3.5rem;
}

.character {
  position: absolute;
  margin: -1rem 0;
  width: 45px;
  height: 45px;
  right: 36%;
}

.hidden {
  display: none;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

#container {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

/* Modal */
.modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  width: 350px;
  height: 228px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.modal-title {
  font-size: 2.2rem;
  font-weight: 300;
}

.modal-button {
  background-color: #000;
  /* background-color: #9b59b6; */
  color: white;
  border: none;
  display: block;
  padding: 1.1rem;
  font-family: inherit;
  font-size: 1.3rem;
  width: 70px;
  cursor: pointer;
}

.modal-button:hover {
  background-color: #9347b1;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

@media screen and (max-width: 1000px) {

  a {
    padding: 40px;
    bottom: 8rem;
    left: 4rem;
  }

  ul li {
    font-size: 3.5rem;
    padding: 1.5rem;
  }

  button {
    font-size: 3.5rem;
  }

  .quiz {
    margin: 50px;
  }

  .quiz-container {
    width: 100%;
    font-size: 2.5rem;
    border-radius: 30px;
  }


  .ui {
    width: 100%;
  }

  .icon {
    bottom: 8rem;
    right: 4rem;
  }

  .text,
  .text-1,
  .text-2 {
    font-size: 4rem;
  }

  .coin {
    padding: 14px 20px;
    font-size: 3.5rem;
    border-radius: 13px;
  }

  .coin-img {
    width: 70px;
    height: 70px;
  }

  input {
    width: 2rem;
    height: 2rem;
  }

  .character {
    position: absolute;
    width: 90px;
    height: 90px;
    margin: -1rem 0;
    right: 15%;
  }
}

.quiz-animation {
  animation: quiz-animation 1.2s ease-in-out;
}

@keyframes quiz-animation {
  0% {
    background-color: #222;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }

  50% {
    background-color: #222;
    clip-path: polygon(0% 100%, 100% 0%, 100% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 0%, 0% 100%);
  }

  100% {
    background-color: #222;
    display: none;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
}

.end-animation {
  animation: end-animation 0.6s ease-in-out;
}

@keyframes end-animation {
  0% {
    background-color: #222;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }

  100% {
    background-color: #222;
    clip-path: polygon(0% 100%, 100% 0%, 100% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 0%, 0% 100%);
  }  
}