@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

:root {
  --clr: rgba(169, 20, 255, 0);
  --clr-bg: #7f53ac;
}

body {
  background-color: var(--clr-bg);
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

/* .c-icon {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #51d4db;
  height: 50px;
  width: 50px;
  padding-left: 20px;
  margin-right: 50px;
} */

.c-loader {
  animation: is-rotating-loading 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #51d4db;
  height: 250px;
  width: 250px;
}

.loader-container{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh; 
  min-width: 100vw;  
}

.hidden {
  display: none;
}

.container {  
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

h1 {
  text-shadow: 1px 1px 2px #120458;
  color: white;
  background-color: var(--clr);
  font-size: 2rem;
  transition: all 0.2s ease;
  animation: screen infinite;
  animation-duration: 2s;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

@keyframes is-rotating-loading {
  to {
    transform: rotate(1turn);
  }
}

@keyframes screen {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  h1 {
    text-align: center;
    font-size: 1.5rem;
    padding: 3rem;    
  }
}